:root {
    background-color: #0D1117;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    transition: 0.2s ease-in-out;
}

body {
    background-color: var(--background-color);
    color: var(--color);
}

#date {
    display: flex;
    font-size: 3vh;
    margin-top: -3vh;
    margin-left: 20vh;  
}

#time {
    display: flex;
    font-size: 10vh;
    margin-top: 3vh;
    margin-left: 10vh;
}

.shortcut {
    display: inline-block;
    margin-top: 4vh;
    margin-left: 7vh;
    padding: 0vh 1vh 0vh 1vh;
    border: 1px solid white;
    border-radius: 8px;
}

.shortcut .row1 a img, .shortcut .row2 a img, .shortcut .row3 a img {
    /* a의 width, height값과 20씩 차이나게 설정 */
    width: 45px;
    height: 45px;
    margin-top: 0.2vh;
}

.row1, .row2, .row3 {
    display: flex;
    flex-direction: row;
}

.shortcut .row1 a, .shortcut .row2 a, .shortcut .row3 a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: var(--color);
    padding: 1vh 1vh 0vh 1vh;
    border: 1px solid white;
    justify-items: center;
    border-radius: 14px;
    /* 흰색 border */
    width: 65px;
    height: 65px;
}

#youtube, #github, #deepl, #devdocs {
    margin: 3vh 2vh 3vh 2vh;
    background-color: #fff;
    color: #0D1117;
}

#proton, #notion, #bard, #tineye {
    margin: 0.5vh 2vh 3vh 2vh;
    background-color: #fff;
    color: #0D1117;
}

#chatgpt, #tetrio, #colorhunt, #cnn {
    margin: 0.5vh 2vh 3vh 2vh;
    background-color: #fff;
    color: #0D1117;
}

#searchBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -3.5vh;
}

#searchInput {
    display: block;
    margin: 0 auto;
    padding: 0vh 0vh 0vh 0.5vh;
    width: 65vh;
    height: 5vh;
    border-radius: 8px;
    border: 1px solid white;
}

#searchButton {
    display: none;
}

.command {
    display: none;
}

#commandBox {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

#commandInput {
    display: block;
    margin: 0 auto;
    padding: 0vh 0vh 0vh 0.5vh;
    width: 100vh;
    height: 8vh;
    border-radius: 8px;
    border: 1px solid white;
    background-color: #0D1117;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}