:root {
    background-color: #0D1117;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    transition: 0.2s ease-in-out;
}

body {
    background-color: var(--background-color);
    color: var(--color);
}

#date {
    display: flex;
    font-size: 3vh;
    margin-top: -3vh;
    margin-left: 20vh;  
}

#time {
    display: flex;
    font-size: 10vh;
    margin-top: 3vh;
    margin-left: 10vh;
}

.shortcut {
    display: inline-block;
    margin-top: 4vh;
    margin-left: 7vh;
    padding: 0vh 1vh 0vh 1vh;
    border: 1px solid white;
    border-radius: 8px;
}

.shortcut .row1 a img, .shortcut .row2 a img, .shortcut .row3 a img {
    margin-bottom: 0.5rem;
}

.row1, .row2, .row3 {
    display: flex;
    flex-direction: row;
}

.shortcut .row1 a, .shortcut .row2 a, .shortcut .row3 a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: var(--color);
    padding: 3vh 3vh 0vh 3vh;
    border: 1px solid white;
    border-radius: 5px;
    justify-items: center;
    border-radius: 8px;
    width: 100px;
    height: fit-content;
}

#naver, #youtube, #github {
    margin: 3vh 2vh 3vh 2vh;
    background-color: #fff;
    color: #0D1117;
}

#proton, #notion, #bard {
    margin: 0.5vh 2vh 3vh 2vh;
    background-color: #fff;
    color: #0D1117;
}

#claude, #tetrio, #colorhunt {
    margin: 0.5vh 2vh 3vh 2vh;
    background-color: #fff;
    color: #0D1117;
}

p {
    display: block;
    align-items: center;
    justify-content: center;
    width: 80px;
}

#searchBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -3.5vh;
}

#searchInput {
    display: block;
    margin: 0 auto;
    width: 50vh;
    height: 4vh;
    border-radius: 8px;
    border: 1px solid white;
}

#todoWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vh;
    height: 100vh;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid white;
}

#todoTitle {
    margin: 0;
    margin-top: 2vh;
    font-size: 5vh;
    position: relative;
    width: fit-content;
}

#todoBtn {
    margin-left: 0vh;
    margin-top: 0vh;
    border: 1px solid #83777792;
    border-radius: 5px;
    display: flex;
}

#blinkText {
    margin-left: 8vh;
    width: 10   vh;
}

#plus {
    width: 3vh;
    margin: 1.5px;
    padding: 0px;
    padding-block: 0px;
    padding-inline: 0px;
    border: #fff 1px solid;
    border-radius: 3px;
}

#plus:hover {
    width: 3vh;
    margin: 1.5px;
    padding: 0px;
    padding-block: 0px;
    padding-inline: 0px;
    right: 3vh;
    border-radius: 3px;
    background-color: #837777;
    border: #837777 1px solid;
    color: #0D1117;
}