#darkmodeToggle {
    display: inline-block;
    border: none;
    background-color: var(--background);
    color: var(--color);
    font-size: 20px;
}

#settingBtn {
    border: none;
    background-color: white;
    box-shadow: 0 0 0 1px #dadcdf, 0 4px 8px 0 rgba(0,0,0,.15);
    font-size: 25px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 9999;
    outline: none;
    color: white;
    cursor: pointer;
}

#settingBtnIcon {
    color: black;
    align-items: center;
    display: block;
    bottom: 20px;
    right: 30px;
    z-index: 9999;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}

#settingTab {
    display: inline-block;
    position: fixed;
    bottom: 75px;
    right: 30px;
    width: 250px;
    height: 300px;
    border-radius: 12px;
    box-shadow: 0 0 0 1px #dadcdf, 0 4px 8px 0 rgba(0,0,0,.15);
}

#preferenceChar {
    margin-left: 10px;
    display: inline-block;
}